# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/ProcessMonitoring/v17/ipch/AutoPCH/ebd6d46305a3fab/PROCESSMONITORING.ipch
*.vsidx
*.vsidx
*.vsidx
*.db
*.db-shm
*.opendb
*.ipch
*.vsidx
*.vsidx
.vs/ProcessMonitoring/FileContentIndex/2b3fc7fa-7249-41c9-a874-13e49e41fe85.vsidx
.vs/ProcessMonitoring/v17/.suo
.vs/ProcessMonitoring/v17/Browse.VC.db
.vs/ProcessMonitoring/v17/Browse.VC.db-wal
.vs/ProcessMonitoring/v17/ipch/AutoPCH/ebd6d46305a3fab/PROCESSMONITORING.ipch
x64/Debug/ProcessM.8296564e.tlog/CL.command.1.tlog
x64/Debug/ProcessM.8296564e.tlog/Cl.items.tlog
x64/Debug/ProcessM.8296564e.tlog/CL.read.1.tlog
x64/Debug/ProcessM.8296564e.tlog/CL.write.1.tlog
x64/Debug/ProcessM.8296564e.tlog/link.command.1.tlog
x64/Debug/ProcessM.8296564e.tlog/link.read.1.tlog
x64/Debug/ProcessM.8296564e.tlog/link.write.1.tlog
x64/Debug/ProcessM.8296564e.tlog/ProcessMonitoring.lastbuildstate
x64/Debug/ProcessMonitoring.exe.recipe
x64/Debug/ProcessMonitoring.ilk
x64/Debug/ProcessMonitoring.log
x64/Debug/ProcessMonitoring.pdb
x64/Debug/ProcessMonitoring.vcxproj.FileListAbsolute.txt
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
.vs/ProcessMonitoring/FileContentIndex/2b3fc7fa-7249-41c9-a874-13e49e41fe85.vsidx
.vs/ProcessMonitoring/v17/.suo
.vs/ProcessMonitoring/v17/Browse.VC.db
.vs/ProcessMonitoring/v17/ipch/AutoPCH/ebd6d46305a3fab/PROCESSMONITORING.ipch
.vs/ProcessMonitoring/FileContentIndex/2b3fc7fa-7249-41c9-a874-13e49e41fe85.vsidx
.vs/ProcessMonitoring/v17/.suo
*.db
*.ipch
